#map {
	margin-top: 2.8%;
	height: 90%; 
	width: 60%;
}
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
	}
.marker-cluster span {
	line-height: 30px;
	}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
	}
	
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}


.search-tip b {
	color: #fff;
}
.search-tip {
	white-space: nowrap;
}
.search-tip b {
	display: inline-block;
	clear: left;
	float: right;
	padding: 0 4px;
	margin-left: 4px;
}

button {
	width: 80px;
	padding: 10px;
}
.btn{
	padding: 7px;
	padding-right: 5px;
	font-size: 11px;
}

.dropdown{
	margin-left: 100px;
	
}
div .dropdown #basemapList{
	padding-left: 5px;
	padding-right: 5px;
}
a {
	color: black;
}

.navbar-brand {
  display: inline-flex;
  line-height: 28px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.navbar-brand-image {
  height: 32px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
}
.starter-template {
  padding: 15px 15px;
  text-align: center;
}
.navbar-inverse .navbar-brand {
	font-size: 16px;
	color: #fff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron {
	margin-top: 30px;
	background: url('../images/map-gray.png') no-repeat left center;
}

/*h4 {
  margin-top: 25px;
}
*/

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

